# Cleaning up the covid data for since 2020 till this year (2022).

In [3]:
library(visdat)
library(tidyverse)
library(readxl)

> We'll read the data straight from the ministry of Health git repository, that way if the data is updated, we'll get the latest dataset for covid cases from 2020 till todate.

In [12]:
covid_cases_data = read_csv("https://raw.githubusercontent.com/minhealthnz/nz-covid-data/main/cases/covid-cases.csv", col_names = TRUE)

Rows: 1800602 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): Case Status, Sex, Age group, DHB, Overseas travel
lgl  (1): Historical
date (1): Report Date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [19]:
covid_cases_data %>% tail()

  Report Date Case Status Sex    Age group DHB
1 2020-03-05  Probable    Male   70 to 79  Managed Isolation & Quarantine
2 2020-03-05  Probable    Female 70 to 79  Managed Isolation & Quarantine
3 2020-03-04  Confirmed   Male   40 to 49  Managed Isolation & Quarantine
4 2020-03-04  Confirmed   Male   40 to 49  Counties Manukau
5 2020-03-02  Confirmed   Female 30 to 39  Managed Isolation & Quarantine
6 2020-02-26  Confirmed   Female 60 to 69  Managed Isolation & Quarantine
  Overseas travel Historical
1 Yes             NA
2 Yes             NA
3 Yes             NA
4 NA              NA
5 Yes             NA
6 Yes             NA

In [35]:
covid_cases_data %>% arrange('Report Date') %>% head()

  Report Date Case Status Sex    Age group DHB
1 2022-10-09  Confirmed   Male   70 to 79  Canterbury/West Coast
2 2022-10-09  Confirmed   Female 20 to 29  Wairarapa
3 2022-10-09  Confirmed   Male   50 to 59  Bay of Plenty
4 2022-10-09  Confirmed   Male   20 to 29  Auckland
5 2022-10-09  Confirmed   Male   60 to 69  Southern
6 2022-10-09  Confirmed   Male   50 to 59  Auckland
  Overseas travel Historical
1 NA              NA
2 NA              NA
3 NA              NA
4 NA              NA
5 NA              NA
6 NA              NA